<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>this is the List of my Contacts</h1>
        <form action="/new_Contact" method="post">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter number" required>
            <button type="submit">Submit</button>
        </form>
        
        
    </body>
</html>