<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/CSS/Contact.css"/>
    </head>
    <body>
        <h1>Create New Contact</h1>
        <form id="contact-form" action="/new_Contact" method="post">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter number" required>
            <button type="submit">Submit</button>
        </form>
        
        
    </body>
</html>