<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/CSS/home.css">
        <script src="https://kit.fontawesome.com/fc285ecd15.js" crossorigin="anonymous"></script>
    </head>
    <body>
        

        <h1 id="heading"><i class="fa-solid fa-address-book"></i> My Contacts</h1>
    
        <div id="contacts-list-container">
            <ul>
                <% for(let i of Contact_list){%>
                    <li id="contact">
                        <i class="fas fa-user"></i>
                        <div class="details">
                            
                            <p><%= i.name %></p> 
                            <p><%= i.phone %></p> 
                        </div>
                        <div class="delete-button">
                            <a href="/deleteContact/?phone=<%= i.phone%>">
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                        
                    </li>
                    
                <%}%>
                
            </ul>
            
        </div>
        <div>
            <button type="button" id="myButton"><h2>Create New Contact</h2></button>
        </div>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href = "/CreateContact";
            };
        </script>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
    
</html>